<div class="container" id="finances">
  <h1>Portrait financier</h1>
  <p>Par souci de transparence, nous vous communiquons désormais toutes les dépenses et entrées d'argent des Jeux de Noël.</p>

  <div class="container mt-4">
    <div class="row d-flex justify-content-around align-items-start">
      <div class="card-jdn-xlarge card-jdn col-sm-12 col-lg-4">
        <h2>Crédit</h2>
        <% if @credits[0] == nil %>
          <p>Aucun crédit pour le moment.</p>
        <% else %>
          <table>
            <% @credits.each do |credit| %>
              <tr>
                <td class="desc"><%= credit.description %></td>
                <td class="value"><%= sprintf('%.2f', credit.value) %> $</td>
              </tr>
            <% end %>
            <tr class="total">
              <td class="desc">Total</td>
              <td class="value"><%= sprintf('%.2f', @total_cred) %> $</td>
            </tr>
          </table>
        <% end %>
      </div>

      <div class="card-jdn-xlarge card-jdn col-sm-12 col-lg-4">
        <h2>Débit</h2>
        <% if @debits[0] == nil %>
          <p>Aucun débit pour le moment.</p>
        <% else%>
          <table>
            <% @debits.each do |debit| %>
              <tr>
                <td class="desc"><%= debit.description %></td>
                <td class="value"><%= sprintf('%.2f', debit.value) %> $</td>
              </tr>
            <% end %>
            <tr class="total">
              <td class="desc">Total</td>
              <td class="value"><%= sprintf('%.2f', @total_cred) %> $</td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>

    <div class="row d-flex justify-content-around align-items-start mt-4">
      <div class="card-jdn-xlarge card-jdn col-sm-12 col-lg-4">
        <h2>Balance</h2>
        <span><%= sprintf('%.2f', @balance) %> $</span>
      </div>
    </div>
  </div>
</div>