<div class="container my-5">
  <h1>Boîte à idées</h1>
  <p>Avez-vous une idée de jeu ou de prix pour les Jeux de Noël ?</p>
  <p>N'hésitez pas à nous les communiquer, nous les lirons tous !</p>

  <div class="container">
    <div class="row d-flex justify-content-around align-items-start">

      <div class="card-jdn-xlarge card-jdn col-sm-12 col-lg-4">
        <h2>Ajoutez votre idée</h2>
        <%= simple_form_for(@idea) do |f| %>
          <div class="d-flex justify-content-center">

            <div>
            <%= f.input :message, label: false, placeholder: 'Entrez une idée' %>
            </div>

            <div>
              <%= button_tag type: 'submit', class: "btn btn-jdn btn-ticket" do %>
                <i class="fas fa-plus"></i>
              <% end %>
            </div>
            
          </div>
        <% end %>
      </div>

      <div class="card-jdn-xlarge card-jdn col-sm-12 col-lg-4">
        <h2>Toutes les idées</h2>
        <% if @ideas == nil %>
          <p>Aucune idée pour l'instant. Pensez à ajouter la vôtre !</p>
        <% else %>
          <%= @ideas.each do |idea| %>
            <p><%= idea.message %></p>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>