<div class="container my-5">
  <h1>Bienvenue au <strong>Guichet de tickets</strong> des Jeux de Noël 2020!</h1>

  <%= simple_form_for(@ticket) do |f| %>
    <%= f.input :name, label: false, placeholder: 'Entre un nom!'%>
    <%= f.button :submit, 'Crée un ticket!', class: 'btn btn-success'%>
  <% end %>

  <div class="generate-ticket">
    <%= link_to ticket_path do %>
      <button class="btn btn-danger">Génère un gagnant!</button>
    <% end %>
    <h2>Et l'heureux gagnant est...</h2>
      <p>
        <% if @last_winner != nil %>
          <%= @last_winner.name %>
        <% else %>
          Il n'y a aucun gagnant pour l'instant...
        <% end %>
      </p>
  </div>

  <div class="all=players">
    <h2>Liste de tous les joueurs</h2>
    <ul>
    <% @all_tickets.each do |name| %>
      <li><%= name %></li>
    <% end %>
    </ul>
  </div>

  <div class="all-winners">
    <h2>Liste des gagnants des Jeux de Noël <%= Date.today.year %></h2>
    <ul>
      <% @winners.each do |winner| %>
        <li><%= winner.name %></li>
      <% end %>
    </ul>
  </div>
</div>