<div class="container my-5 tickets-page">
  <h1>Guichet de tickets</h1>

  <div class="container">
    <div class="row justify-content-around align-items-start">

      <% if user_signed_in? %>
        <div class="card-jdn col-sm-12 col-md-3">
          <h2>Générer un ticket</h2>
          <%= simple_form_for(@ticket) do |f| %>
            <div class="d-flex justify-content-center">

              <div>
                <%= f.input :name, label: false, placeholder: 'Entrez un nom'%>
              </div>

              <div>
                <%= button_tag type: 'submit', class: "btn btn-jdn btn-ticket" do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>

      <div class="card-jdn col-sm-12 col-md-3">
        <h2>Tous les joueurs</h2>
        <% if @tickets_hash.empty? %>
          <p>Aucun ticket n'a été émis pour l'instant</p>
        <% else %>
          <ul>
            <% @tickets_hash.each do |name, number| %>
              <% if number == 1 %>
                <li><%= name %></li>
              <% else %>
                <li><%= name %> ( x <%= number %> )</li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>


      <div class="card-jdn col-sm-12 col-md-3">
        <h2>Gagnant</h2>
        <% if user_signed_in? %>
          <%= link_to ticket_path do %>
            <button class="btn btn-jdn my-3">
              <i class="fas fa-trophy"></i>
            </button>
          <% end %>
        <% end %>
          <p>
            <% if @last_winner != nil %>
              <%= @last_winner.name %>
            <% else %>
              Aucun gagnant pour l'instant
            <% end %>
          </p>

        <h2>Derniers gagnants</h2>
          <% if @winners[0] == nil %>
            <p>Aucun gagnant pour l'instant</p>
          <% else%>
          <ul>
            <% @winners.each do |winner| %>
              <li><%= winner.name %></li>
            <% end %>
          </ul>
          <% end %>
      </div>

    </div>
  </div>

</div>