<div class="container my-5">
  <h1>Guichet de tickets</h1>

  <div class="container">
    <div class="row justify-content-around align-items-start mb-4">

      <div class="card-jdn">
        <h2>Générer un ticket</h2>
        <%= simple_form_for(@ticket) do |f| %>
          <div class="d-flex justify-content-center">

            <div>
              <%= f.input :name, label: false, placeholder: 'Entrez un nom'%>
            </div>

            <div>
              <%= button_tag type: 'submit', class: "btn btn-jdn btn-ticket" do %>
                <i class="fas fa-plus"></i>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>

      <div class="card-jdn">
        <h2>Tous les joueurs</h2>
        <ul>
          <% @all_tickets.each do |name| %>
            <li><%= name %></li>
          <% end %>
        </ul>
      </div>

      <div class="d-flex justify-content-around flex-column">
        <div class="card-jdn">
          <h2>Gagnant</h2>
          <%= link_to ticket_path do %>
            <button class="btn btn-jdn my-3">
              <i class="fas fa-trophy"></i>
            </button>
          <% end %>
            <p>
              <% if @last_winner != nil %>
                <%= @last_winner.name %>
              <% else %>
                Aucun gagnant pour l'instant.
              <% end %>
            </p>
        </div>

        <div class="card-jdn mt-4">
          <h2>Gagnants</h2>
            <% if @winners[0] == nil %>
              <p>Il n'y a aucun gagnant pour l'instant...</p>
            <% else%>
            <ul>
              <% @winners.each do |winner| %>
                <li><%= winner.name %></li>
              <% end %>
            </ul>
            <% end %>
        </div>
      </div>

    </div>
  </div>

</div>